footer{
    background-color: rgb(8, 108, 223);
    height: 140px;
    padding: 10px;
    margin-top: 75px;
    border-top: 2px solid black;
}
.foot{
    text-align: right;
    margin-top: 35px;
    margin-right: 20px;
    font-size: 40px;
}
.foot1{
    margin-top:-85px ;
    margin-left: 30px;
}
.foot1 pre{
    margin-top: -10px;
    margin-left: 100px;
}
.foot1 a{
    color: black;
}